<form [formGroup]="AKSServiceDetailsForm" (ngSubmit)="onNext(AKSServiceDetailsForm.value)">
  <ul class="wrapper">
    <li class="form-row">
      <label>
        Service Name:
        <label style="color: red;">*</label>
      </label>
      <input type="text" formControlName="service_name">
    </li>

    <li class="form-row">
      <label>
        Incoming Port:
        <label style="color: red;">*</label>
      </label>
      <input type="text" formControlName="port">
    </li>

    <li class="form-row">
      <label>
        Target Port:
        <label style="color: red;">*</label>
      </label>
      <input type="text" formControlName="target_port">
    </li>

    <li class="form-row">
      <label>
        App Selector:
        <label style="color: red;">*</label>
      </label>
      <input type="text" formControlName="app_selector" disabled>
    </li>

    <li class="form-row">
      <button type="button" style="margin-right: 2%;" (click)="onPrev()">Prev</button>
      <button type="submit" [disabled]="AKSServiceDetailsForm.invalid">Next</button>
    </li>
  </ul>
</form>
