<!-- <form [formGroup]="loginDetailsForm" (ngSubmit)="onLogin(loginDetailsForm.value)">
    <ul  class="wrapper" style="margin:97px">
        <li  class="form-row">
            <label>
             Username :
            </label>
            <input type="text" formControlName="login_username">
        </li>

        <li  class="form-row">
            <label>
             Password :
            </label>
            <input type="password" formControlName="login_password">
        </li>

        <li class="form-row">
            <button type="submit" class="form-control" [disabled]="loginDetailsForm.invalid">Login</button>
        </li>
    </ul>
</form> -->


